body {
    margin: 0;
    color: var(--color);
    background-color: var(--bg-color);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    background-color: #efefef;
}

input:focus,
textarea:focus {
    outline: none;
}
