@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
    margin: 0;
    color: var(--color);
    background-color: var(--bg-color);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    background-color: #efefef;
}

input:focus,
textarea:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #aaa;
}

input:-moz-placeholder {
    color: #aaa;
}

.meowimg {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: -300px;
    z-index: 0;
    opacity: 0.6;
    visibility: hidden;
}

@media only screen and (min-width: 62rem) {
    .meowimg {
        visibility: visible;
    }
}
