.search-container {
    padding: var(--padding-container);
    font-family: var(--font-family);
}

.search-controls {
    display: flex;
    justify-content: space-between;
    margin: 0.4em;
}

.url-params {
    align-self: flex-end;
    text-align: left;
    width: 80%;
    p {
        padding: 1em;
        span {
            display: block;
        }
    }
    .param-filter {
        font-family: var(--font-family);
        background-color: #ddd;
        padding: 0.1em;
        margin: 0.1em;
        border: none;
        font-size: inherit;
        color: inherit;
        width: 66%;
        &:focus {
            background-color: #ccc;
            transition: background-color 500ms;
            border: none;
        }
    }
}

.results-total {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    p {
        padding: 1em;
    }
}

/* laptops */
@media only screen and (min-width: 62rem) {
    .search-controls {
        width: 66%;
    }
}
