.card-meta {
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    color: var(--color-subtitle);
}
.card-highlights {
    em {
        background-color: var(--color-highlight);
        font-style: normal;
    }
    margin-bottom: 0.6em;
}
.span-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    padding-right: var(--padding-sub-container);
}
.author-data,
.subject-data {
    background-color: #eee;
    padding: 0.4em;
    margin: 0.2em;
}
.author-variants,
.subject-variants {
    margin-right: 5px;
    display: block;
    text-indent: 10px;
}
