.card-meta {
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    color: var(--color-subtitle);
}
.card-highlights {
    em {
        background-color: var(--color-highlight);
        font-style: normal;
    }
    margin-bottom: 0.6em;
}
.span-title {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    padding-right: var(--padding-sub-container);
}
