:root {
    --bg-color: #efefef;
    --color: rgba(222, 111, 22, 0.9);
    --color-subtitle: #888;
    --color-highlight: #faef7285;
    --font-family: 'Segoe UI', sans-serif;
    --padding-container: 1rem;
    --padding-sub-container: 0.2rem;
    --margin-sub-container: 0.2rem;
}

.header {
    --bg-color: #282c34;
}

.search-container {
    --font-family: 'Consolas', sans-serif;
}
