.MuiInputBase-root {
    font-size: 1.4rem;
    font-family: var(--font-family);
    background-color: aliceblue;
    width: 100%;
    padding-left: var(--padding-container);
}

/* laptops */
@media only screen and (min-width: 62rem) {
    .MuiInputBase-root {
        width: var(--width-break-laptop);
        font-size: 2rem;
    }
}
